<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Test</title>
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/asset.css" />
</head>
<body>

<table>
    <tr>
        <th>原目录</th>
        <th>导出目录</th>
        <th>Prepare</th>
        <th>模式</th>
        <th>语言</th>
        <th>执行</th>
    </tr>
    {% for key, value in files %}
        <tr>
            <td>{{ value.targetName|raw }}</td>
            <td><input type="text" class="prefix" onchange="save('{{ value.baseName }}', this.parentNode.parentNode)"></td>
            <td><select name="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                </select></td>
            <td><select class="mode">
                    <option value="copy_without_dir">删除目录拷贝</option>
                    <option value="copy_with_dir">带目录拷贝</option>
                    <option value="scene">场景</option>
                    <option value="model">模型</option>
                </select></td>
            <td><select class="lang">
                    <option value="lang_cn">大陆</option>
                    <option value="lang_tw">台湾</option>
                </select></td>
            <td><input type="button" value="Go"></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>