<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource Test</title>
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/resource.css" />
    <script src="{{ __STATIC__ }}/resource.js"></script>
</head>
<body>

<table>
    <tr>
        <th>原目录</th>
        <th>导出目录</th>
        <th>Prepare</th>
        <th>模式</th>
        <th>语言</th>
        <th>执行</th>
    </tr>
    {% for key, value in files %}
        <tr>
            <td>{{ value.targetName|raw }}</td>
            <td><input type="text" class="export_name" value="{{ value.export_name }}" onchange="save('{{ value.filePath }}', this.parentNode.parentNode)"></td>
            <td><select class="change_mode">
                    <option></option>
                    <option value="delete_old">删除</option>
                </select></td>
            <td><select class="type">
                    <option value="copy_without_dir" {% if value.type == "copy_without_dir" %}selected="selected"{% endif %}>删除目录拷贝</option>
                    <option value="copy_with_dir">带目录拷贝</option>
                    <option value="town">城镇</option>
                    <option value="model">模型</option>
                </select></td>
            <td><select class="language">
                    <option value="lang_cn">大陆</option>
                    <option value="lang_tw">台湾</option>
                </select></td>
            <td><input type="button" value="执行" onclick="execute('{{ value.filePath }}', this.parentNode.parentNode)"></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>