<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource Test</title>
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ __STATIC__ }}/resource.css" />
    <script src="{{ __STATIC__ }}/resource.js"></script>
</head>
<body>

<table>
    <tr>
        <th>原目录</th>
        <th>导出目录</th>
        <th>Prepare</th>
        <th>模式</th>
        <th>语言</th>
        <th>执行</th>
    </tr>
    {% for key, value in files %}
        <tr>
            <td>{{ value.targetName|raw }}</td>
            <td><input type="text" class="export_name" value="{{ value.export_name }}" onchange="save('{{ value.filePath }}', this.parentNode.parentNode)"></td>
            <td><select class="change_mode" onchange="save('{{ value.filePath }}', this.parentNode.parentNode)">
                    <option></option>
                    <option value="delete_old" {% if value.change_mode == "delete_old" %}selected="selected"{% endif %}>删除</option>
                </select></td>
            <td><select class="type" onchange="save('{{ value.filePath }}', this.parentNode.parentNode)">
                    <option></option>
                    <option value="copy_without_dir" {% if value.type == "copy_without_dir" %}selected="selected"{% endif %}>删除目录拷贝</option>
                    <option value="copy_with_dir" {% if value.type == "copy_with_dir" %}selected="selected"{% endif %}>带目录拷贝</option>
                    <option value="town" {% if value.type == "town" %}selected="selected"{% endif %}>城镇</option>
                    <option value="player" {% if value.type == "player" %}selected="selected"{% endif %}>主角</option>
                </select></td>
            <td><select class="language" onchange="save('{{ value.filePath }}', this.parentNode.parentNode)">
                    <option></option>
                    <option value="lang_cn" {% if value.type == "lang_cn" %}selected="selected"{% endif %}>大陆</option>
                    <option value="lang_tw" {% if value.type == "lang_cn" %}selected="selected"{% endif %}>台湾</option>
                </select></td>
            <td><input type="button" value="执行" onclick="execute('{{ value.filePath }}', this.parentNode.parentNode)"></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>